<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="batchInsert" value="true" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="insertOnDuplicateKey" value="true" />
        <option name="javaMapperPackage" value="com.zzy.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.zzy.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="bishe" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="bishe">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.zzy.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.zzy.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.zzy.service.impl" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaServicePackage" value="com.zzy.service" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="com.zzy.util" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="armarium:department">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="Department" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_admin">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HAdmin" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_application_status">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HApplicationStatus" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_borrow_application">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HBorrowApplication" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_borrow_record">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HBorrowRecord" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_department_user">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HDepartmentUser" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_facility">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HFacility" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_facility_type">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HFacilityType" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_maintenance_record">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HMaintenanceRecord" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_maintenance_status">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HMaintenanceStatus" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_maintenance_user">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HMaintenanceUser" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_notice">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HNotice" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="armarium:h_status">
              <value>
                <TableGenerateConfig>
                  <option name="batchInsert" value="true" />
                  <option name="insertOnDuplicateKey" value="true" />
                  <option name="javaModelName" value="HStatus" />
                  <option name="moduleName" value="bishe" />
                  <option name="updateBatch" value="true" />
                  <option name="updateBatchSelective" value="true" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateBatch" value="true" />
        <option name="updateBatchSelective" value="true" />
        <option name="xmlMapperPackage" value="com.zzy.util" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>